@tailwind base;
@tailwind components;
@tailwind utilities {

}

@font-face {
  font-family: 'Regular';
  src: url("./font/Radomir\ Tinkov\ \ QanelasSoftRegular.ttf");
}
@font-face {
  font-family: 'ExtraBold';
  src: url("./font/QanelasSoftDEMO-ExtraBold.ttf");
}
@font-face {
  font-family: 'semibold';
  src: url("./font/Radomir\ Tinkov\ \ QanelasSoftSemiBold.ttf");
}

@font-face {
  font-family: 'bold';
  src: url("./font/Radomir\ Tinkov\ \ QanelasSoftBold.ttf");
}

/* keyframe */
.dropdown-btn{
  box-shadow: 3px 4px 12px #0000007d;
  font-family: 'semibold';
}
.and-text{
  font-family: 'Regular' !important;
}
.cube2, .cube5, .cube15, .cube16 ,.cube19{
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}
.cube6, .cube4, .cube14, .cube12 , .cube8, .cube9{
  -webkit-animation: rotate 5s normal linear infinite;
  animation: cube2  5s normal linear infinite;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes cube2  {
  0% {
    -webkit-transform: scale(0, 0, 1, 0deg);
    transform: scale(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: scale(0, 0, 1, 90deg);
    transform: scale(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: scale(0, 0, 1, 180deg);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0, 0, 1, 270deg);
    transform: scale(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: scale(0, 0, 1, 360deg);
    transform: scale(0, 0, 1, 360deg);
  }
}
.subtraction {
  filter: drop-shadow(0 4px 8px rgba(202, 23, 23, 0.2));
  animation: shadow-animation 4s ease-in-out infinite;
}
@keyframes shadow-animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.primary-hd{
  font-family: 'ExtraBold';
  animation: slide-in-anim 1.5s ease-out forwards;
}
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateY(-45%);
	}
	75% {
		transform: translateY(52%);
	}
	100% {
		opacity: 1;
		transform: translateY(-50%);
	}
}
body{
  @apply overflow-x-hidden
}
/* header */
  .header{
    @apply bg-white  shadow-lg shadow-[#70707040] py-[5px] relative z-[9999] py-[10px]
  }
.item{
  @apply text-[20px] uppercase transition ease-in-out delay-150 font-normal cursor-pointer text-black mr-[27px]
}
.list{
  @apply justify-end
}
.item{
 @apply font-["Regular"]
}

.item.syllabus-item:hover{
  @apply text-[unset]
}
.item.syllabus-item li:hover{
  @apply text-[#EDA825]
}
.item:hover{
  @apply text-[#EDA825] transition ease-in-out delay-150
}
.dropdown-btn{
  @apply bg-[#174E81] py-3 px-5 rounded-lg text-white  shadow-lg shadow-[#70707040]
}

.dropdown-btn i {
  @apply mx-2
}
.drop-down-menu{
  @apply absolute hidden w-56 bg-white  shadow-lg top-[90px]  rounded-[11px] shadow-[#70707040] py-4 pr-10 pl-[3.5rem] transition ease-in-out delay-150
}
.item.syllabus-item:hover .drop-down-menu{
  @apply block transition ease-in-out delay-150
}
.drop-down-menu li{
  @apply text-[15px] mb-3 transition ease-in-out delay-150 text-[#175081] font-normal
}
.drop-down-menu li:hover{
  @apply text-[#EDA825] transition ease-in-out delay-150
}

.clip-path-2 h3,
 .clip-path-4 h3,
 .clip-path-3 h3,
 .clip-path-1 h3 {
  @apply font-["semibold"] absolute top-[50%] left-[50%] text-[50px]  text-white z-[9999] rotate-[-16deg] translate-y-[-50%] translate-x-[-50%]
}
.clip-path-3 h3{
  @apply rotate-[16deg]
}
.clip-path-4 h3{
  @apply rotate-[-11deg] left-[54%]
}
.clip-path-1 h3{
  @apply rotate-[26deg] left-[55%] text-[#174F81]
}
/* partical */
img.cube1 {
  @apply  absolute  left-[39px] bottom-[-14%]
}
img.cube2 {
  @apply  absolute  left-[17%] bottom-[16%]
}
img.cube3 {
  @apply  absolute  right-[2%] top-[-13%] z-[-999]
}
img.cube4 {
  @apply  absolute  right-[12%] top-[33%] z-[-999]
}
img.cube5 {
  @apply  absolute  left-[7%] top-[5%] z-[-999]
}
img.cube6 {
  @apply  absolute  right-[2%] bottom-[-20%] z-[-999]
}
img.cube7 {
  @apply  absolute  right-[16%] bottom-[10%] z-[-999]
}
img.cube8 {
  @apply  absolute  right-[2%] bottom-[18%] z-[-999]
}
img.cube9 {
  @apply  absolute  right-[9%] bottom-[2%] z-[-999]
}
img.cube10 {
  @apply  absolute  right-[21%] bottom-[15%] z-[-999]
}
img.cube11 {
  @apply  absolute  left-[37%] bottom-[18%] z-[-999]
}
img.subtraction {
  @apply  absolute  left-[0%] top-[20%] z-[-999]
}
img.cube12 {
  @apply  absolute  right-[23%] top-[53%] z-[-999]
}
img.cube13 {
  @apply  absolute  right-[3%] top-[14%] z-[-999]
}
img.cube14 {
  @apply  absolute  right-[3%] bottom-[-13%] z-[999]
}
img.cube15 {
  @apply  absolute  left-[1%] bottom-[-8%] z-[999]
}
img.cube16 {
  @apply  absolute  left-[45%] bottom-[-9%] z-[999]
}
img.cube17 {
  @apply  absolute  left-[1%] bottom-[21%]
}
img.cube18 {
  @apply  absolute  right-[38%] bottom-[28%] z-[999999]
}
img.cube19 {
  @apply  absolute  left-[39%] top-[13%] z-[999999]
}
img.cube20 {
  @apply  absolute  right-[7%] bottom-[-17%] z-[999999]
}
img.cube21 {
  @apply  absolute  right-[-3%]
  top-[22%] z-[999999]
}
img.cube25 {
  @apply  absolute  right-[40%]
  top-[7%]
}
.cube-cover{
  @apply bg-[#17bbf1] w-[100px] absolute top-[10%] right-[40.8%] h-[280px] z-[9]
}

/* banner */
.banner{
  @apply pt-[9rem]  relative
}
.banner-section-content-area h1.primary-hd{
  @apply text-[83px] mb-[2.7rem]
}
.primary-hd{
  @apply text-[73px] text-[#174F81] leading-[60px]
}
.yello-text{
  @apply text-[#EDA825] font-semibold
}

.banner-hd-classes{
  @apply mt-[-3rem]
}
.light-hd, .hd-secondary.small-size{
  @apply text-[45px] leading-[50px] mb-[31px]
}
.small-size{
  @apply text-[30px]
}
.main-banner-login-area{
  @apply px-[200px] py-[10px]
}
.login-banner-btn {
  @apply bg-[#3066FB] px-[40px] py-[30px] rounded-lg mb-4
}

.login-banner-btn span{
  @apply text-white text-2xl  font-["Regular"]
}


.arrow-icon-area{
  @apply w-[40px] h-[40px] bg-[#EDA825] flex items-center justify-center rounded-full
}
.arrow-icon-area i{
  @apply text-lg text-white
}
.inner-btn-area{
  @apply  flex py-[20px] px-[15px] justify-between items-center w-[48%] bg-white  shadow-lg   rounded-lg shadow-[#70707040]  cursor-pointer
}
.section-img-content .light-hd, .hd-secondary.small-size{
  @apply mb-[10px]
}
.img-sec{
  @apply relative h-[100vh]
}
.sec-img-area{
  @apply relative top-[0] z-[99] left-0
}
img.sec-img{
  @apply w-[100%]
}

/* skil sec */
.skil-sec{
  @apply  pt-[24rem] pb-[23rem]    z-[9] left-0 relative  
}
.hd-secondary{
  @apply font-["ExtraBold"]
}
.hd-secondary{
  @apply text-7xl font-semibold text-white
}
.para{
  @apply text-[1.5rem] font-normal	 text-white mt-5 leading-[1.2]
}
.inner-btn-area.skil-btn{
  @apply mt-[2.5rem]  cursor-pointer shadow-xl shadow-[#00000026]
}
.main-banner-login-area .inner-btn-area.skil-btn{
  @apply mx-[auto] mb-[1.5rem] mt-0
}
.inner-text-btn{
  @apply text-[1.5rem] text-[#175081] font-normal
}
.skil-sec{
  @apply bg-cover  bg-center w-[100%] bg-no-repeat
}
.section-2::after {
 @apply content-['']  absolute top-[-16%] left-[-21px] h-[180px] w-[77%] rotate-[-7deg] bg-[#174F81] z-[-9999999999999]
}
.sec-content-area .primary-hd{
  @apply text-[74px]
}
.skil-sec {
  background-image: url('./images/bg1.png');
}
.img1-area{
  @apply scale-[1.5] relative top-[-158px] right-[-134px] z-[99]
}

.clip-path-1{
  @apply absolute top-[6px]
  left-[21%]
}
.main-clip{
  @apply  mt-[-44rem] absolute z-[9999] right-[1%] w-[77%] block h-[970px];
}
.section-2{
  @apply pt-[300px]
}
.clip-path-2 {
  @apply absolute top-[50%]
  left-[0%]
  translate-y-[-50%]
}
.clip-path-3 {
  @apply  absolute top-[58%] right-[-6%]  translate-y-[-50%]
}
.clip-path-4 {
  @apply  absolute top-[unset] right-[unset] bottom-[0px] left-[0] translate-x-[43%]
}
.sec-content-area{
  @apply pt-[100px] relative z-[99999]
}
.sec-content-area p{
  @apply text-[1.5rem]  mt-[-5rem]
}
.sec-content-area h2{
  @apply mb-5 leading-[1]
}
.sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn{
  @apply mt-[2rem] w-[320px] h-[83px] px-[70px]
}
.primary-hd.chose-skill{
  @apply font-["semibold"]
}
.power-section img.cube1 {
  @apply  absolute top-[16%] left-[23px]
}
.inner-btn-area.skil-btn.enrol-btn{
  @apply bg-[#1564FB] py-[15px]
}
.inner-btn-area.skil-btn.enrol-btn .inner-text-btn{
  @apply text-white
}
.potential-sec{
  @apply bg-[#F1F2F2] pt-[358px] pb-[34px] relative
}
.potential-sec .para{
  @apply mt-[-1rem]
}
.potential-sec::after {
  @apply content-['']  absolute top-[-46px] left-[-121px] h-[348px] w-[110%] bg-center
 }
.potential-sec::after {
  background-image: url(./images/bg2.png);
}
.black{
  @apply text-black
}
.book-img{
  @apply absolute  bottom-[0] right-[0] z-[9999]
}
.power-section{
  @apply pt-[100px] pb-[100px]
}
.ai-power-img{
  @apply absolute top-[55px] left-[-0%] z-[-9999]
}

.power-content-area{
  @apply pt-[100px] pl-[30px]
}
.contact{
  @apply bg-[#174E81] py-[190px] relative overflow-y-hidden
}
.contact-hd-area h3{
  @apply font-["ExtraBold"]
}
.contact-hd-area h3{
  @apply text-6xl text-white font-semibold mb-5
}
.contact-hd-area{
  @apply pt-[50px] pb-[18px]
}
.contact-hd-area h4{
  @apply text-5xl text-white font-["ExtraBold"] mb-5
}
.accordion .inner-btn-area .inner-text-btn {
  @apply text-[#175081]
}
.accordion .inner-btn-area{
  @apply rounded-[unset] font-["Regular"] text-[#175081] w-[100%]
}
.contact-hd-area p, .para, .sec-content-area p{
 @apply font-["Regular"]
}
.contact-hd-area p{
  @apply text-2xl text-white font-normal mb-5
}
.contact::after {
  @apply content-['']  absolute top-[-97px] left-[-10px] h-[348px] w-[101%]  bg-no-repeat bg-cover bg-center
 }
.contact:after {
    background-image: url(./images/bg3.png);
}
.contact::before {
  @apply content-['']  absolute top-[-0] left-[-165px] h-[100%] w-[540px]  bg-[#1CC6F3]
 }
 .contact img{
  @apply absolute w-[620px] left-[19%] top-[-5px] h-[100%] bg-no-repeat bg-cover
 }
.footer{
  @apply bg-[#EDA825] pb-[100px] relative
}
.footer::after{
  @apply content-[''] absolute left-[-1px] top-[-265px] bg-no-repeat bg-cover h-[340px] bg-center w-[100%] z-[9999]
}
.footer::after {
  background-image: url(./images/bg4.png);
}
.footer-phone-area a{
  @apply text-xl text-white font-normal
}
.footer-phone-area{
  @apply mb-5
}
.footer-phone-area a i{
  @apply mr-3
}
.social-list {
  @apply flex items-center
}
.social-list li {
  @apply mr-3 w-[45px] h-[45px] bg-[#174E81] rounded-full flex items-center justify-center
}
.social-list li a{
  @apply text-white text-xl
}
.footer-phone-area p{
  @apply text-xl font-semibold text-white
}
.footer-address-area {
 @apply flex mb-[3rem]
}
.footer-address-area i{
  @apply mr-2 text-white text-2xl
}
.footer-address-area p{
  @apply text-xl  text-white leading-[24px]
}
.footer-address-area p strong{
  @apply block font-semibold
}
.copyright-sec{
  @apply bg-white py-[10px] text-center
}
.copyright-sec p{
  @apply text-lg text-black m-0
}
.form-area{
  @apply pl-[60px]
}
.accordion-content{
  @apply h-[0] bg-white overflow-hidden transition ease-in-out rounded-lg
}
.accordion-chapter-content{
  @apply h-[0] bg-white overflow-hidden transition ease-in-out rounded-lg
}
.accordion-chapter-content.active{
  @apply bg-white  h-[200px] overflow-y-auto p-4
}
.accordion-content p{
  @apply text-lg font-normal text-black m-0
}
.accordion-chapter{
  @apply bg-white mb-[20px] shadow-lg shadow-[#0000001f] w-[97%] mx-auto
}
.accordion-chapter .inner-btn-area {
  @apply w-[100%] py-[10px] 
}
.accordion-chapter .inner-btn-area .inner-text-btn {
@apply text-[18px]
}
.accordion-chapter .inner-btn-area strong{
  @apply text-[20px]
}
.accordion-chapter-content ul li{
  @apply mb-[10px]
}
.chapter-sec h2.primary-hd{
  @apply text-[30px] mt-[50px]
}
 .accordion {
  @apply bg-white rounded-lg w-[80%] mb-[25px]
}
.accordion-content.active{
  @apply bg-white  h-[200px] overflow-y-auto p-4
}
  .footer-phone-area iframe{
    @apply w-[100%]
  }
  .input-area{
    @apply flex items-center  mb-[30px]
  }
  .input-area>div{
    @apply w-[48%] flex  bg-white mr-4 items-center
  }
  .contact-form{
    @apply pl-[60px] pb-[60px]
  }
  .icon-contact-area{
    @apply bg-[#EDA825] w-[80px] h-[80px] flex items-center justify-center mr-2
  }
  .icon-contact-area i{
    @apply text-xl text-white opacity-[0.7]
  }
  .contact-input input, .contact-input textarea{
    @apply w-[100%] outline-none text-[18px] font-["bold"] text-[#707070]
  }
  .contact-input input::placeholder, .contact-input textarea::placeholder{
    @apply text-[14px] font-["bold"] uppercase text-[#AFAAAA]
  }
  .input-area.message>div {
    @apply w-[100%]
  }
  .input-area.message textarea{
    @apply h-[170px] pt-[15px]
  }
  .footer-logo-area{
    @apply mb-[60px] relative z-[99999999999]
  }
  .input-area.message .icon-contact-area{
    @apply h-[176px] w-[96px] items-start pt-[15px]
  }
  .contact-hd-area.form-area{
    @apply pb-[60px]
  }
  .input-area.message .contact-input {
    @apply w-[100%]
}
.open-menu, .close-menu{
  @apply hidden
}
.power-content-area p{
  @apply mt-[-1rem]
}
.power-content-area  .primary-hd{
  @apply leading-[70px]
}
/* inner pages */
.enroll-sec{
  @apply pt-[100px] pb-[250px]
}
.enroll-sec .col-span-12{
  @apply w-[60%] mx-auto
}
.enroll-sec .inner-btn-area.skil-btn{
  @apply justify-center w-[30%]
}
.input-area select{
  @apply w-[100%]  p-[10px] outline-none
}
.about-banner-area{
  @apply bg-[#17BBF1] right-[10.5%] h-[680px] w-[644px] absolute top-0 z-[99] rounded-bl-[50%] rounded-br-[50%] overflow-hidden
}
.about .banner .primary-hd{
  @apply mb-[37px]
}
.about-banner-area img{
  @apply relative bottom-[18%]
}
.about-sec-1{
  @apply bg-no-repeat bg-cover pt-[230px] px-[150px] h-[1025px] bg-center
}
.about-sec-1{
  background-image: url(./images/bgabout.png);
}
.about-content-area{
  @apply pt-[236px] 
}
.about-content-area .primary-hd.space-bottom{
  @apply text-[72px] mb-[30px] leading-[70px]
}
.about-main-banner .banner{
  @apply pt-[200px]
}
.about-sec h1.primary-hd, .syllabus-sec h1.primary-hd, .testimonial h1.primary-hd{
  @apply text-[68px] mb-[40px]
}
.about-main-banner img.cube5{
  @apply left-[5%]
}
.about-sec-1{
  @apply relative
}
.about-main-banner img.cube3 {
  @apply right-[0]
}
.about-sec-1 img.cube6{
  @apply top-[12%] z-[9999] bottom-[unset]
}
.about-sec img.cube3 {
  @apply right-[7%] z-[999]  top-[74%]
}
img.cube16 {
  @apply left-[48%]  top-[80%]
}
.about-sec img.cube5 {
  @apply left-[3%]  top-[70%]
}
.about-main-banner img.cube1 {
  @apply top-[100%] left-[41px] z-[99]
}
.about-sec img.cube12 {
  @apply top-[32%] right-[8%]
}
.about-sec img.cube16{
  @apply top-[66%]
}
.about-main-banner  img.cube4 {
  @apply top-[100%] left-[44%]
}
.about-main-banner .primary-hd{
  @apply text-[83px]
}
.about-content-area p{
  @apply mt-[-4rem]
}
.about-img-sec{
  @apply relative mt-[-222px] z-[-9]
}
.about-sec{
  @apply pt-[160px] pb-[100px]
}
.syllabus-banner.contact-banner{
  @apply bg-bottom
}
.syllabus-banner {
  @apply bg-no-repeat bg-cover  bg-center pt-[312px] pb-[435px] 
}
.syllabus-banner h2{
  @apply text-[83px] text-white text-center font-["ExtraBold"] drop-shadow-xl shadow-black
}
.syllabus-sec{
  @apply bg-no-repeat bg-cover h-[1018px] flex  mt-[-345px] justify-center items-center
}
.syllbus-content-area p{
  @apply text-[#175081] text-xl mt-[-1rem] font-normal
}
.testimonial-sec .syllabus-sec{
  @apply  mt-[-45px]
}
.syllbus-content-area img{
  @apply mx-auto
}
.syllbus-hd-area{
  @apply px-[150px]
}
.syllabus-sec-2{
  @apply pb-[100px] pt-[0px] relative z-[99999]
}
.syllabus-banner{
  background-image: url(./images/syllabusbg.png);
}
.syllabus-sec{
  background-image: url(./images/bgabout.png);
  position: relative;
}
.syllabus-sec::after{
  background-image: url(./images/syllabusbgafter.png);
}
.syllabus-sec::after{
  @apply content-[""] bg-cover bg-no-repeat absolute bottom-[-35px] left-[0] w-[100%]  h-[350px] z-[999] bg-center
}
.syllabus-banner.contact-banner{
  background-image: url(./images/contactbg.png);
}
.testimonial-section{
  @apply pt-[70px] pb-[60px]
}

.testimonial-section .testimonial-area::after{
  background-image: url(./images/testbg.png);
}
.testimonial-section .testimonial-area::after{
  @apply content-[""] absolute bottom-[11%]  h-[76px] w-[50px] bg-no-repeat left-[46%]
}
.test-parent-area{
  @apply transition ease-in-out bg-white relative z-[9999999]
}
.test-parent-area:hover{
  @apply bg-[#EDA825]
}
.test-parent-area:hover p, .test-parent-area:hover h4{
  @apply text-white
}
.test-parent-area:hover  .testimonial-area::after{
  @apply opacity-[0.4]
}
.about-main-banner .primary-hd.light-hd{
  @apply text-[54px]
}
.syllabus img.cube6{
  @apply top-[11%] z-[9999]
}
.syllabus img.cube1{
  @apply top-[4%] z-[9999] left-[14%]
}
.section-img-content .hd-secondary.small-size{
 @apply font-["semibold"]
}
.section-img-content .inner-btn-area{
  @apply px-[70px] w-[48%]
}
.contact-form .inner-btn-area.skil-btn{
  @apply px-[70px]
}
.syllabus-sec-2 img.cube10 {
 @apply  right-[16px] top-[-12%]
}
.syllabus-sec-2 img.cube8 {
  @apply  left-[2%] top-[36%]
}
.syllabus-sec-2 img.cube15{
  @apply bottom-[4%]
}
.syllabus-sec-2 img.cube16 {
  @apply top-[100%] left-[39%]
}
.syllabus-sec-2 img.cube12 {
  @apply top-[53%] right-[3%]
}
.syllabus-sec-2 img.cube3 {
  @apply top-[84%] right-[0%]
}
.testimonial .banner{
  @apply pt-[13rem]
}
.testimonial-sec .syllabus-sec{
  @apply pt-[100px]
}
.testimonial-sec  .syllabus-sec::after{
  @apply bottom-[-71px]
}
.testimonial-section.syllabus-sec-2 img.cube10 {
  @apply top-[-3%] right-[5%]
}
.testimonial-section.syllabus-sec-2 .test-cube-15 {
 @apply absolute top-[37%] left-[8%] z-[-99999]
}
.testimonial-section.syllabus-sec-2 img.cube15 {
  @apply bottom-[8%] left-[7%]
}
.testimonial-section.syllabus-sec-2 img.cube12 {
  @apply top-[52%] right-[8%]
}
.testimonial-section.syllabus-sec-2 img.cube3 {
  @apply top-[84%] right-[6%]
}
.testimonial-sec img.cube6 {
  @apply top-[13%] right-[2%] z-[999]
}
.testimonial-sec img.cube1 {
  @apply top-[31px] left-[15%] z-[99999]
}
.contact-sec{
  background-image: url(./images/contactbg2.png);
}
.contact-sec{
  @apply bg-no-repeat relative bg-cover bg-center pb-[100px] pt-[200px] z-[999] mt-[-26rem] h-[800px]
}
.contact-sec-area .contact{
  @apply pt-[350px]
}
.contact-sec-area .contact::after{
  @apply z-[-999]
}
.contact-sec-area .contact{
  @apply mt-[-20rem]
}
.contact-btn {
  @apply bg-white rounded-[10px] w-[362px] h-[100px] px-[25px] py-[20px] mb-[20px] shadow-lg shadow-[#00000021]  transition ease-in-out cursor-pointer 
}
.contact-btn:hover{
  @apply bg-[#3066FB]
}
.contact-btn:hover .inner-text-btn {
  @apply text-[#fff]
}
.contact-btn, .arrow-icon-area {
  box-shadow: 0px 4px 10px #9999999e;
}
.contact-btn.instituion{
  @apply mx-auto
}

.login-sec{
  @apply relative  pt-[164px] pb-[250px]
}
.login-sec h2{
  @apply text-[64px] text-white uppercase font-["bold"]
}
.login-sec h2{
  text-shadow: 6px 5px 10px #00000087;
}
.login-sec h3{
  @apply text-[45px] text-[#EDA825] uppercase font-["ExtraBold"]
}
.login-sec h2{
  text-shadow: 6px 5px 10px #00000087;
}
.login-area{
  @apply mt-[35px]
}
.login-area .contact-btn{
  box-shadow: 6px 5px 10px #00000052;
}
.login-sec::before{
  @apply content-[""] bg-[#175081] h-[100%] w-[37%] absolute left-0 top-0 z-[-999]
}
.login-area .contact-btn{
  @apply w-[87%] h-[80px]
}
.login-form{
  @apply pl-[160px]
}
.enroll-form.login-form{
  @apply pl-[100px]
}
.enroll-form.login-form .enroll-input-area .login-input-area {
  @apply w-[48%]
}
.login-form h4{
  @apply text-[50px] font-["ExtraBold"] text-[#175081]
}
.login-input-area{
  @apply w-[100%] mx-auto
}
.login-input-area {
  box-shadow: 1px 7px 10px #00000029;
}
.login-form-btn{
  @apply mt-16 flex items-center text-[20px] uppercase font-["bold"]
}
.login-form-btn img{
  @apply ml-3
}
.login-input-area .input-area{
  @apply w-[80%] m-0
}
.login-input-area .input-area input{
  @apply w-[100%]  outline-none
}
.forget-form-btn{
   @apply text-[20px] font-["Regular"]
}
.forget-form-btn.dont-have{
  @apply text-[#175081]
}
.signup{
  @apply font-["bold"]
}
.syllabus-banner.contact-banner img.cube5{
  @apply top-[16%] z-[999]
}
.syllabus-banner.contact-banner img.cube3{
  @apply top-[6%] z-[999]
}
.contact-sec img.cube6{
  @apply top-[14%] z-[999]
}
.contact-sec img.cube1{
  @apply top-[0%] z-[999] left-[20%]
}
.contact-sec img.cube7{
  @apply top-[40%] z-[999] left-[10%]
}
.contact-sec img.cube10{
  @apply bottom-[13%] z-[999] right-[14%]
}
.contact-sec img.cube12{
  @apply top-[71%] z-[999] left-[20%]
}
.syllbus-hd-area.physic{
  @apply mt-[100px]
}

.login1{
  @apply absolute top-[5%] left-[7%]
}
.login2{
  @apply absolute top-[14%] right-[14%]
}
.login3{
  @apply absolute top-[-8%] right-[1%]
}
.login4{
  @apply absolute bottom-[23%] right-[7%]
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.syllabus-img {
 @apply mb-[36px] 
}
.contact-btn.active {
  @apply bg-[#3066FB]
}
.contact-btn.active .inner-text-btn{
  @apply text-white
}
.chapter-sec{
  @apply  pb-[240px]
}
@media(max-width: 1600px){
  .about-sec{
    @apply pt-[90px] pb-[50px]
  }
  .about-sec-1{
    @apply px-[90px]
  }
  img.cube25 {
    @apply  absolute  right-[36%]
    top-[16%]
  }
  img.cube11{
    @apply bottom-[11%]
  }
  .cube-cover{
    @apply  right-[39.5%] top-[24%]
  }
  .para, .sec-content-area p{
    @apply text-[1.2rem]
  }
  .item{
    @apply m-0
  }
  .login-sec::before{
    @apply w-[35%]
  }
  .login1{
    @apply left-[4%]
  }
  .login-sec {
    @apply h-auto pb-[250px]
}
  .syllabus-banner.contact-banner img.cube3 {
   @apply top-[11%]
}
  .testimonial-section{
    @apply pb-[115px]
  }
  .testimonial-sec  .syllabus-sec::after {
   @apply bottom-[-112px] hidden
}
  .contact img{
    @apply w-[535px]
  }
  .list{
    @apply justify-between
  }
  .contact::after{
    @apply top-[-90px]
  }
  img.cube19{
    @apply top-[7%]
  }
  .container{
    max-width: 1200px;
    width: 100%;
  }
  .sec-content-area .primary-hd{
    @apply text-[4rem]
  }
  .img1-area::after{
    @apply h-[725px] translate-x-[-43%] translate-y-[-49%] w-[193%]
  }
  .section-img-content .hd-secondary.small-size{
    @apply text-[2.3rem]
  }
  .main-clip{
    @apply w-[90%]
  }

  .banner-btn-area  .inner-text-btn{
    @apply text-[1rem] w-[unset]
  }
  .section-img-content .inner-btn-area{
    @apply px-[30px]
  }
  .potential-sec::after{
    @apply top-[-60px]
  }
  img.cube14{
    @apply bottom-[7%]
  }
  .banner{
   @apply pt-[5rem]
  }
  .primary-hd.banner-hd-classes{
    @apply text-2xl pt-2
  }
.footer-address-area p{
  @apply text-[1rem]
}
.skil-sec{
  @apply pt-[22rem] pb-[10rem]
}
.img1-area {
  @apply top-[-167px] right-[-145px] scale-[1.3]
}
.section-img-content{
  @apply pt-[150px]
}
.hd-secondary{
  @apply text-5xl
}

.sec-content-area {
    @apply pt-[90px]
    pb-[0]
    relative
    z-[99999]
}
.main-banner-login-area{
  @apply px-[100px]
}
.power-content-area  .primary-hd {
  @apply leading-[57px]
}
.banner-section-content-area h1.primary-hd {
  @apply mb-[2rem] text-[60px]
}
.book-img {
   @apply  scale-[0.9]
    right-[-121px] top-[0]
}
.book-img::after{
  @apply translate-y-[-46%]
}
.sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn{
  @apply px-[60px]
}
.ai-power-img{
     @apply  scale-[0.7]
}
.potential-sec{
  @apply pt-[302px] overflow-hidden
}
.primary-hd{
  @apply text-5xl
}
img.cube1,
img.cube2,
img.cube3,
img.cube4,
img.cube5,
img.cube6,
img.cube7,
img.cube8,
img.cube9,
img.cube10,
img.cube11,
img.cube12,
img.cube13,
img.cube14,
img.cube15,
img.cube16,
img.cube17,
img.cube18,
img.cube19,
img.cube20,
img.cube21{
  @apply w-[7%] z-[999]
}
img.cube3{
  @apply top-[-6%]
}
.ai-power-img{
  @apply top-[-76px] left-[-9%]
}
.inner-btn-area.skil-btn.enrol-btn.power {
   @apply  w-[50%]
}
.contact-hd-area h4{
  @apply text-[2.7rem]
}
.contact-form .inner-btn-area.skil-btn{
  @apply px-[45px]
}
.power-content-area{
  @apply pl-0
}
.light-hd, .hd-secondary.small-size{
  @apply mb-[17px]
}
img.cube19{
  @apply left-[37%]
}
.power-section{
   @apply pb-[24px] pt-[40px]
}
.footer{
  @apply pb-[40px]
}
img.cube21{
  @apply right-[0]
}
.footer::after{
  @apply h-[269px] top-[-250px]
}
.section-img-content .inner-btn-area {
  @apply w-[41%]
}
.light-hd{
  @apply text-4xl leading-[1.2]
}

.sec-content-area p{
  @apply mt-[-4rem]
}
.main-clip{
  @apply mt-[-42rem]  scale-[0.8] right-[-6%]
}
.section-2::after{
  @apply h-[139px]  top-[-7%]
}
.skil-sec{
  @apply overflow-hidden
}
.contact-hd-area h3{
  @apply text-[3rem]
}
.about-banner-area{
  @apply right-[13%] h-[536px] w-[500px]
}
.about-main-banner .banner {
 @apply pt-[147px]
}
.about-content-area {
  @apply pt-[70px]
}
.about-sec-1{
  @apply pt-[193px]
}
.about-main-banner img.cube1{
  @apply top-[114%]
}
.about-main-banner img.cube4{
  @apply top-[97%]
}

.about-main-banner .primary-hd.light-hd{
  @apply text-[2.7rem]
}
.about-content-area .primary-hd.space-bottom{
  @apply text-[65px]
}
.about-sec-1{
  @apply h-[870px]
}
.about-sec h1.primary-hd, .syllabus-sec h1.primary-hd,  .testimonial h1.primary-hd{
  @apply text-[55px]
}
.syllabus-sec{
  @apply h-[789px]
}
.syllabus-sec::after{
  @apply h-[300px] bottom-[-81px]
}
.syllabus img.cube1 {
  @apply top-[0%] left-[21%]
}
.syllabus-sec-2 img.cube16{
  @apply top-[97%]
}
.testimonial .banner {
 @apply pt-[10rem] pb-[3rem]
}
.contact-sec{
  @apply h-[720px] mt-[-21rem]
}
.login-sec h2{
  @apply text-[50px]
}
.skil-sec{
  @apply top-[40px]
}
}
@media screen and (min-device-width: 1440px) and (max-device-width: 1550px){
  .img1-area{
    @apply top-[-196px] right-[-78px]
  }
  img.cube25{
    @apply top-[8%]
  }
  .cube-cover{
    @apply right-[38%]
     top-[18%]
     w-[115px]
  }
  .contact img{
    @apply w-[490px]
  }

  .about-banner-area{
    @apply h-[533px]
  }
  .about-main-banner img.cube1 {
    @apply top-[100%]  
}
.syllabus-banner{
  @apply pb-[350px] pt-[200px]
}
.syllabus-sec{
  @apply mt-[-300px]
}
}
@media(max-width: 1440px){
  .testimonial-section.syllabus-sec-2 .test-cube-15{
    @apply left-[4%]
  }
  .cube-cover {
 @apply right-[38.5%] top-[15%]
}
  .test-parent-area{
    @apply px-[1rem]
  }
  .syllbus-hd-area.physic{
    @apply mt-[60px]
  }
  .syllbus-hd-area{
    @apply px-[90px] mt-[20px]
  }
  .sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn{
    @apply w-[250px] px-[40px]
  }
  img.cube25 {
    @apply right-[38%] top-[7%] w-[21%]
}
  .inner-btn-area.skil-btn.enrol-btn.power {
    @apply w-[47%];
}
  .syllabus-sec-2 img.cube10{
    @apply top-[-8%]
  }
  .login-sec h3{
    @apply  text-[36px]
  }
  .login1{
    @apply w-[8%]
  }
  .login-form {
    @apply pl-[80px]
}
  .syllabus-sec {
    @apply h-[779px]
}
  .about-sec-1 .para{
    @apply text-[1.4rem]
  }
  .contact img {
  @apply  w-[486px]
}
  .about-main-banner img.cube4{
    @apply top-[90%] left-[41%]
  }

  .login-banner-btn{
    @apply py-[16px] px-[20px]
  }
  .syllabus-sec{
    @apply mt-[-246px]
  }
  .syllabus-sec{
    @apply bg-center
  }
  .about-content-area{
    @apply pl-12
  }
  .about-content-area .primary-hd.space-bottom{
    @apply text-[55px]
  }
  .container{
    max-width: 1100px;
    width: 100%;
  }
  .section-2::after{
    @apply top-[0%]
  }
  .inner-btn-area.skil-btn{
    @apply w-[52%]
  }
  .sec-content-area .primary-hd{
    @apply text-[3.5rem]
  }
  .book-img::after{
    @apply translate-y-[-48%]
  }
  .potential-sec::after{
    @apply top-[-95px] left-[-165px] w-[112%]
  }
  .contact-hd-area h3{
    @apply text-[2.7rem] leading-[1.2]
  }
  .img1-area::after {
    @apply scale-[0.6] translate-x-[-43%] translate-y-[-49%] left-[36%] h-[778px] w-[160%]
}
  .light-hd.small-size{
    @apply text-2xl
  }
  .skil-sec {
    @apply pt-[11rem]
}

.img1-area{
  @apply scale-[1.2]
}
.book-img{
  @apply top-[30px]
}
.ai-power-img {
  @apply top-[-90px] left-[-10%] 
}
.section-img-content .inner-btn-area{
  @apply w-[46%]
}
.power-section{
  @apply pt-[0]
}
.main-clip{
  @apply   scale-[0.7] w-[97%] right-[-12%] mt-[-40rem]
}
img.cube13{
  @apply top-[23%]
}

.banner-section-content-area h1.primary-hd{
  @apply mb-[1rem]
}
.light-hd, .hd-secondary.small-size{
  @apply mb-[20px]
}
.book-img{
  @apply scale-[0.8] 
}
.sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn{
  @apply h-[62px]
}
h5.primary-hd.small-size{
  @apply text-[2.4rem] my-[10px]
} 
.login-banner-btn span{
  @apply text-[1.3rem]
}
img.cube16{
  @apply bottom-[13%]
}
img.cube15{
  @apply bottom-[11%]
}
.section-img-content{
  @apply pt-[130px]
}
.hd-secondary{
  @apply text-[2.7rem]
}
.img1-area{
  @apply right-[-106px] scale-[1.4] top-[-109px]
}
.light-hd, .hd-secondary.small-size{
  @apply text-[2rem]
}
.item{
  @apply text-[18px]
}
.skil-sec{
  @apply top-[80px]
}
.logo{
  @apply w-[55%]
}
.item {
  @apply text-[15px]
}
button, input, optgroup, select, textarea{
  @apply text-[75%]
}
}
@media(max-width: 1366px){
  .about-banner-area {
  @apply h-[461px] w-[432px]
}
  .about-main-banner img.cube1{
    @apply top-[98%]
  }
  .about-main-banner .primary-hd {
   @apply text-[65px]
  }
  .about .banner .primary-hd {
    @apply mb-[20px]
  }
  .about-main-banner .primary-hd.light-hd{
    @apply text-[2.2rem]
  }

  .contact-form .inner-btn-area.skil-btn{
    @apply px-[36px]
  }
  .syllabus-sec::after{
    @apply h-[246px]
  }
  .item{
    @apply text-[16px]
  }
  .skil-sec{
    @apply pt-[17rem]
  }
  .container{
    max-width: 1050px;
    width: 100%;
  }
  .ai-power-img{
    @apply left-[-14%] scale-[0.6]
  }
  img.cube19{
    @apply left-[39%]
  }
  .img1-area{
    @apply overflow-hidden top-[-149px]
  }
  .img1-area::after{
    @apply  left-[33%] translate-y-[-47%]
  }

.power-section{
  @apply pt-[100px]
}
.contact-hd-area h4{
  @apply text-[2.4rem]
}
  .img-sec{
    @apply h-[88vh]
  }
  .main-clip{
   @apply right-[-12%] top-[6px] w-[103%] scale-[0.6] mt-[-42rem]
  }
  .banner-section-content-area h1.primary-hd {
    @apply text-[49px] mb-[1rem]
}
img.cube2{
  @apply left-[21%] bottom-[44%]
}
.login-banner-btn span{
  @apply text-[1.2rem]
}
.contact img{
  @apply w-[450px]
}
img.cube25 {
  @apply right-[37%] top-[10%]
}
.img1-area{
  @apply scale-[1.4] right-[-91px]   top-[-158px] 
}
  /* .main-banner-login-area{
    @apply px-[141px]
  } */
  h5.primary-hd.small-size{
    @apply text-[2rem] mt-[10px]
  }
  .section-2::after {
    @apply top-[-4%]
    w-[74%]
}
.book-img{
  @apply scale-[0.8] top-[13px]
}
/* .book-img::after{
  @apply translate-y-[-45%]
} */
img.cube14{
  @apply bottom-[11%]
}
.power-content-area{
  @apply pt-[72px]
}
.ai-power-img{
  @apply top-[-63px]
}

img.cube12{
  @apply top-[54%]
}
img.cube9{
  @apply bottom-[9%]
}
.potential-sec .para br{
  @apply hidden
}

.sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn,
.inner-btn-area.skil-btn.enrol-btn.power, .inner-btn-area.skil-btn{
  @apply px-[30px] h-[60px] w-[240px]
}

.syllabus-sec{
  @apply mt-[-300px]
}
.sec-content-area{
  @apply pt-[20px]
}
.contact img{
  @apply top-[-12px]
}
.login-sec h2 {
 @apply text-[46px]
}
.login-area .contact-btn {
  @apply h-[70px] w-[82%]
}
.login3 {
  @apply top-[-5%] w-[9%]
}
.login2, .login4{
  @apply w-[8%]
}
}
@media(max-width: 1280px){
  .testimonial-sec .syllabus-sec {
    @apply pt-[40px]
}
.about-sec h1.primary-hd, .syllabus-sec h1.primary-hd, .testimonial h1.primary-hd {
  @apply text-[47px]
}

  .cube-cover {
  @apply top-[13%] right-[38%]
}
  .section-img-content {
   @apply pt-0
}
.skil-sec{
  @apply pt-[16rem]
}
  .about-content-area .primary-hd.space-bottom{
    @apply text-[50px] leading-[50px]
  }
  .about-sec-1{
    @apply pt-[180px]
  }
  .syllabus-sec {
  @apply   h-[685px]
}
  .para{
    @apply text-[1rem]
  }
  img.cube12 {
  @apply top-[66%] right-[19%]
}
  .book-img{
    @apply top-[-17px] scale-[0.7]
  }
  .about-banner-area {
    @apply right-[8%] scale-[0.9] top-[-34px]
}
.about-sec{
  @apply pb-[24px] pt-[64px]
}
.about-content-area{
  @apply pt-[64px] pb-0
}
.about-sec-1{
  @apply h-[800px]
}
.footer{
  @apply pt-0
}
  .img1-area{
    @apply scale-[1.3]  top-[-139px] right-[-69px]
  }
  .main-clip {
    @apply right-[-15%] top-[69px]
}

  .contact-hd-area h3{
    @apply text-[3rem]
  }
  .section-2::after{
    @apply top-[0%]
  }
  .form-area , .contact-form{
    @apply pl-[20px]
  }
  .sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn{

  }
  .sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn{
    @apply h-[67px] w-[262px] px-[30px]
  }
.main-clip{
  @apply mt-[-45rem] scale-[0.6]
}

img.cube25{
  @apply top-[6%]
}
.ai-power-img{
  @apply left-[-15%]
}
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1200px){
  .skil-sec {
    top: 42px;
}
  .primary-hd.banner-hd-classes{
    @apply pt-[1.5rem]
  }
  .enroll-sec .login-form{
    @apply pl-0
  }
  .login-sec h2 {
  @apply text-[40px]
}
.login-form h4{
  @apply text-[40px]
}
.forget-form-btn{
  @apply text-[1rem]
}
.login-sec h3 {
  @apply text-[32px]
}
  .login-sec{
    @apply pb-[200px] pt-[87px]
  }
  .contact-sec {
    @apply h-[586px] mt-[-10rem]
}
.contact-btn{
  @apply h-[66px] w-[250px]
}
  .test-parent-area {
    @apply  w-[106%] scale-[0.9]
  }
  .testimonial-section.syllabus-sec-2 .test-cube-15 {
    @apply left-[9%] w-[8%]
}
.testimonial .banner .light-hd, .hd-secondary.small-size{
  @apply mb-[30px]
}
.about-sec h1.primary-hd, .syllabus-sec h1.primary-hd, .testimonial h1.primary-hd {
  @apply mb-[20px]
}
  .syllabus-banner {
 @apply pt-[126px] pb-[260px]
}
  .about-sec h1.primary-hd, .syllabus-sec h1.primary-hd, .testimonial h1.primary-hd {
  @apply text-[41px]
}
  .sec-content-area {
  @apply pt-[0]
}
.syllabus-sec::after{
  @apply bottom-[-32px]
}
.syllabus-img{
  @apply scale-[0.8]
}
.syllbus-content-area p{
  @apply text-[1rem]
}
.syllbus-hd-area.physic{
  @apply px-[40px]
}
.syllabus-sec {
  @apply mt-[-200px] h-[645px]
}
.about-content-area .primary-hd.space-bottom {
  @apply text-[43px] 
}
.about-sec-1 .para {
  @apply text-[1.2rem]   
}
.about-sec-1 {
 @apply h-[660px]
}
.about-sec-1 {
  @apply pt-[115px]
}
.about-main-banner .banner {
  @apply pt-[115px] 
}
  .container{
    @apply w-[75%]
  }
  .logo{
    @apply w-[55%]
  }
  .item {
 @apply text-[14px]
}

.section-img-content{
  @apply pt-0
}
.img1-area{
  @apply scale-[1.5] top-[-149px] right-[-88px]
}
.main-clip{
  @apply w-[118%] scale-[0.6] right-[-21%] mt-[-47rem]
}
.section-2::after {
 @apply  top-[-7%]
}
h1.primary-hd {
 @apply text-[2.5rem]
}
img.cube25 {
 @apply top-[6%]
}
.cube-cover{
  @apply right-[37%]
}
img.cube12 {
  @apply top-[52%] right-[23%]
}
.ai-power-img {
 @apply  left-[-16%] top-[-93px]  scale-[0.6]
}
img.cube19 {
  @apply left-[36%]
}
.power-content-area {
 @apply pt-[17px] 
}
.contact-hd-area{
  @apply pt-0
}
.contact img {
 @apply w-[370px]
}
.contact-hd-area h3 {
 @apply text-[2.5rem];
}
.contact-hd-area h4 {
 @apply text-[2rem]
}
.contact-hd-area p, .inner-text-btn{
  @apply text-[1rem] leading-[1rem]
}
.contact-hd-area.form-area {
 @apply pb-[15px]
}
.arrow-icon-area{
  @apply w-[30px] h-[30px]
}
.sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn, .inner-btn-area.skil-btn.enrol-btn.power, .inner-btn-area.skil-btn{
  @apply w-[200px]
}
.potential-sec::after{
  @apply top-[-63px] left-[-140px]
}
.main-banner-login-area .inner-btn-area.skil-btn.enrol-btn{
  @apply my-0 mx-[auto]
}
.light-hd, .hd-secondary.small-size {
 @apply text-[1.6rem]
}
img.cube1{
  @apply bottom-[-26px]
}
img.cube2{
  @apply bottom-[17%]
}
.light-hd, .hd-secondary.small-size {
  @apply bottom-[17%] mb-[17px]
}
.contact::before{
  @apply w-[395px]
}
img.cube6{
  @apply bottom-[-20%]
}
.book-img{
  @apply right-[-14%] top-[9px]
}
}
@media screen and (min-width: 1025px) and (max-width: 1100px){
  .syllabus-3 img{
    @apply scale-[0.9]
  }
  .syllabus-1 img{
    @apply scale-[1.3] relative bottom-[-65px]
  }
  .syllabus-img{
    @apply h-[350px]
  }
  .syllabus-img {
    @apply mb-[16px]
}
  .syllbus-hd-area{
    @apply px-[40px]
  }
  .login-sec h2 {
  @apply text-[37px]
}
.login-form-btn{
  @apply mt-[3rem]
}
.login-form {
 @apply pl-[60px]
}
  .syllabus-sec::after {
   @apply bottom-[-56px]
}
  .about-content-area .primary-hd.space-bottom {
  @apply text-[40px]
}
  .container{
    @apply w-[75%]
  }
  .skil-sec {
   @apply top-[-34px]
}
.img1-area{
  @apply top-[-140px] right-[-68px]
}
.potential-sec .light-hd, .hd-secondary.small-size{
  @apply mb-[8px]
}
.cube-cover{
  @apply right-[36%]
}
.section-2::after {
 @apply top-[-42%]
}
.main-clip{
  @apply right-[-29%] scale-[0.5] w-[129%] mt-[-47rem]
}
.section-2 {
  @apply pt-[180px]
}
img.cube13 {
  @apply top-[2%]
}
.sec-content-area .primary-hd {
  @apply text-[3rem]
}
.ai-power-img{
  @apply left-[-22%] scale-[0.5]
}
.potential-sec::after{
  @apply w-[102%] left-[-8px] top-[-116px]
}
h1.primary-hd, .power-content-area .primary-hd{
  @apply text-[2.5rem]
}
.power-content-area  .primary-hd {
  @apply leading-[45px]
}
.contact::before {
 @apply w-[337px]
}
.contact img{
  @apply left-[15%]
}
.contact-hd-area h4, .contact-hd-area h3 {
 @apply text-[1.8rem]
}
.form-area, .contact-form{
  @apply pl-[0]
}
.icon-contact-area{
  @apply h-[55px]
}
.input-area.message textarea{
  @apply h-[129px]
}
.input-area.message .icon-contact-area{
  @apply h-[135px]
}
.accordion .inner-btn-area{
  @apply py-[10px]
}
.sec-content-area .inner-btn-area.skil-btn, .power-content-area .inner-btn-area.skil-btn, .inner-btn-area.skil-btn.enrol-btn.power, .inner-btn-area.skil-btn{
  @apply h-[50px]
}
.contact{
  @apply py-[160px]
}
.footer-logo-area{
  @apply w-[70%] mx-auto mb-[30px]
}
.footer-phone-area iframe {
  @apply w-[116%] h-[143px]
}
.copyright-sec p, .para, .sec-content-area p{
  @apply text-[1rem]
}
img.cube12{
  @apply top-[38%]
}
}
@media(max-width: 1024px){
  .enroll-form.login-form {
  @apply pl-0
}
  .sec-content-area{
    @apply pt-[0]
  }
  .skil-sec{
    @apply top-[60px]
  }
  .login-sec{
    @apply pl-[60px]
  }

  .contact-sec {
    @apply h-[586px] mt-[-10rem]
}
.contact-btn{
  @apply h-[66px] w-[250px]
}
  .syllabus-sec {
    @apply mt-[-205px]
}
.about-sec h1.primary-hd, .syllabus-sec h1.primary-hd, .testimonial h1.primary-hd {
  @apply text-[40px]
}
.syllabus-sec {
  @apply h-[550px]
}
.syllabus-img {
  @apply scale-[0.8]
}
  .syllabus-banner{
    @apply pt-[70px] pb-[312px]
  }
  .para {
   @apply mt-[0]
}
.section-img-content .mt-10{
  @apply mt-[1.3rem]
}
.section-img-content .light-hd, .hd-secondary.small-size{
  @apply mb-[5px]
}
  .section-img-content{
    @apply pt-[64px]
  }
  .inner-btn-area.skil-btn.enrol-btn.power, .inner-btn-area.skil-btn.enrol-btn, .inner-btn-area.skil-btn {
    @apply w-[42%]
}
  button, input, optgroup, select, textarea{
    @apply text-[75%]
  }
  img.cube12 {
    @apply top-[54%] right-[25%]
}
.potential-sec .light-hd, .hd-secondary.small-size{
  @apply mb-0
}
.copyright-sec{
  @apply px-[40px]
}
  img.cube16{
    @apply top-[80%]
  }
  .power-content-area  .primary-hd {
    @apply leading-[42px]
}
.primary-hd{
  @apply text-[2.4rem]
}
  img.cube11{
    @apply bottom-[24%]
  }
  .logo{
    @apply w-[55%]
  }
  .testimonial .banner{
    @apply pl-[40px]
  }
  .about-banner-area{
    @apply right-0
  }
  .about-sec-1{
    @apply pr-0 pl-[30px]
  }

  .section-img-content, .sec-content-area, .potential-sec {
    @apply pl-[70px] relative z-[9999999999999999]
  }
  .contact{
    @apply px-[100px]
  }
  .footer{
    @apply px-[50px]
  }
  .cube-cover{
    @apply right-[36%]
  }
  .img1-area{
    @apply top-[-64px] right-[-6px] scale-[1.1]
  }
  .login-sec{
    @apply pt-[97px]
  }
  .login1, .login2, .login3, .login4{
    @apply w-[7%]
  }
  .forget-form-btn{
    @apply text-[17px]
  }
  .login-sec h3{
    @apply text-[30px]
  }
  .header{
    @apply px-[30px]
  }
  .login-sec h2 {

   @apply text-[43px]
}
  .syllabus-sec::after {
    @apply hidden
}
.testimonial-sec .syllabus-sec{
  @apply pt-[40px]
}
  .about-banner-area{
    @apply top-[-70px] scale-[0.8]
  }
  .about-content-area p{
    @apply mt-[-2rem]
  }
  .accordion{
    @apply w-[100%]
  }
  .syllbus-hd-area{
    @apply px-[60px]
  }
  .about-content-area .primary-hd.space-bottom{
    @apply text-[39px] mb-6
  }
  .about-main-banner .primary-hd.light-hd{
    @apply text-3xl mt-[3rem]
  }
  .about-sec-1{
    @apply h-[808px]
  }
  .contact-hd-area h3 br{
    @apply hidden
  }
  .about-main-banner .banner{
    @apply pl-[40px]
  }

  /* .book-img::after{
    @apply translate-y-[-73%]
  } */
  .sec-content-area p, .power-content-area p{
    @apply mt-[-2rem]
  }
  .sec-content-area .primary-hd{
    @apply text-[2.5rem]
  }
  .sec-content-area p br, .power-content-area p br{
    @apply hidden
  }
  .img1-area::after {
    @apply scale-[0.5] left-[13%] translate-x-[-33%] translate-y-[-49%] w-[182%]
}
  .banner-row{
    @apply block w-[70%] m-auto
  }
 .contact-row{
  @apply block
 }
 .img-sec{
  @apply h-[70vh]
 }
  .open-menu, .close-menu{
    @apply block absolute right-[16px] top-[32%] text-2xl
  }

  .close-menu{
    @apply top-[2%]
  }
  .nav-bar{
    @apply  shadow-lg  transition ease-in-out  shadow-[#70707040] fixed h-[100%] bg-white z-[99999] top-[0] left-[-100%] w-[60%]
  }
  .nav-bar.active{
    @apply  left-[0%] transition ease-in-out z-[99999999999999999999999999]
  }
  .list {
    @apply block py-8 px-8
  }
  .list li{
    @apply mb-4
  }
  .skil-sec{
    @apply pt-[10rem] pb-[12rem]
  }
  img.cube13{
    @apply top-[17%]
  }
  .hd-secondary{
    @apply text-[2.3rem]
  }
  .section-img-content .hd-secondary.small-size{
    @apply text-[1.7rem]
  }
  .light-hd, .hd-secondary.small-size{
    @apply text-3xl
  }
.inner-btn-area.skil-btn.enrol-btn, .section-img-content .inner-btn-area{
 @apply  py-[10px] px-[10px]
}
.ai-power-img {
  top: -33%;
}
.potential-sec::after {
   @apply top-[-0] left-[-10px] h-[183px]
}
.potential-sec .para{
  @apply mt-[-1rem]
}
.potential-sec .para br{
  @apply hidden
}
.potential-sec {
  @apply  pt-[170px]
}
.book-img{
  @apply   bottom-[-7%] scale-[0.6] right-[-162px]

}
.ai-power-img{
  @apply scale-[0.6]
  left-[-18%]
}
.arrow-icon-area{
  @apply w-[30px] h-[30px]
}
.inner-text-btn{
  @apply text-[1rem]
}
.contact::before {
 @apply w-[100%] 
}
.contact-form{
  @apply pl-[10px]
}
.form-area {
  @apply pl-[0]
}
.contact-form .inner-btn-area.skil-btn{
  @apply w-[28%]
}
.primary-hd{
  @apply leading-[2.4rem]
}

.main-clip{
  @apply  scale-[0.5]   left-[5%] w-[107%] mt-[-43rem]
}
.power-content-area{
  @apply pt-0 pl-[80px]
}
.section-2::after{
  @apply h-[60px] w-[78%] top-[2%]
}
.section-2{
  @apply pt-[210px]
}
.clip-path-3{
  @apply right-[-43px]
}
.about-banner-area{
  @apply h-[470px]
}
}
@media(max-width: 768px){
  .child-img{
    @apply hidden
  }
  .section-img-content{
    @apply pt-0
  }
  .login-sec{
    @apply pr-[60px]
  }
  .login-form-btn, .forget-form-btn, .login-form h4{
    @apply text-white
  }
  .contact-sec {
  @apply mt-[-7rem] h-[440px] pt-[136px]
}
  .syllabus-banner.contact-banner{
    @apply pb-[150px]
  }
  .syllabus-banner h2{
    @apply text-[65px]
  }
  .banner-hd-classes {
  @apply mt-[-2rem]
}
  .testimonial .banner .grid{
    @apply block
  }
  .testimonial .banner{
    @apply pt-[6rem]
  }
  .syllabus-banner{
    @apply pt-[80px] pb-[350px]
  }
  .contact-hd-area{
    @apply pt-0
  }
  .contact::after{
    @apply h-[186px] top-[-40px]
  }
  .about-sec h1.primary-hd, .syllabus-sec h1.primary-hd, .testimonial h1.primary-hd{
    @apply text-[40px]
  }
  .para{
    @apply m-0
  }
  .cube-cover{
    @apply right-[32%] top-[10%]
  }
  .login-sec::before{
    @apply w-[50%]
  }
  .login-form{
    @apply pl-[0]
  }
  .login-sec .grid{
    @apply block
  }
  .syllbus-hd-area.physic {
  @apply mt-[43px]
}
  .syllabus-sec-2{
   @apply py-[0]
  }
  .syllabus-sec-2 .grid{
    @apply block
  }
  .syllbus-content-area{
    @apply mb-5
  }
  .syllbus-hd-area{

    @apply px-[100px]
  }
  .about-sec-1{
    @apply pt-[40px] h-[480px]
  }
  .about-sec{
    @apply pt-[70px] pb-[40px]
  }
  .about-img-sec{
    @apply mt-[-97px]
  }
  .light-hd, .hd-secondary.small-size{
    @apply mb-0
  }

  .about-main-banner .grid, .about-sec-1 .grid{
    @apply block text-center
  }
  .about-sec-1 img{
    @apply hidden
  }
  .about-banner-area{
    @apply hidden
  }
  .arrow-icon-area{
    @apply w-[30px] h-[30px] shadow-lg shadow-[#00000026]
  }

  .sec-content-area .primary-hd {
   @apply text-[2.5rem]
}
  .inner-text-btn {
    @apply text-[0.9rem]
}
  .inner-btn-area.skil-btn.enrol-btn {
    @apply   w-[71%]
}

  .img-sec{
    @apply h-[51vh]
  }
  .ai-power-img, .book-img{
    @apply relative scale-[unset] right-[unset] top-[20px]
  }
  .skil-sec .grid, .potential-sec .grid, .power-section .grid, .footer .grid{
    @apply block
  }
  .power-content-area{
    @apply pt-[60px] px-[0]
  }
  .footer .grid .col-span-4{
    @apply py-[20px]
  }
  .contact-form .inner-btn-area.skil-btn, .inner-btn-area.skil-btn.enrol-btn.power{
    @apply w-[31%]
  }
  .section-2::after{
    @apply top-[-22%]
  }
  .footer{
    @apply pb-[30px]
  }
  img.cube12 {
    top: 39%;
    right: 22%;
}
.main-clip {
  @apply left-[-3%] mt-[-46rem] w-[140%] scale-[0.4]
}
.primary-hd{
  @apply text-[2rem]
}
.power-section{
  @apply pl-[70px]
}
.section-img-content  .inner-btn-area.skil-btn {
  @apply w-[25%]
}

.banner-section-content-area h1.primary-hd{
  @apply text-[35px]
}
.primary-hd{
  @apply text-[27px] 
}
h4.primary-hd.banner-hd-classes{
  @apply pt-[2rem]
}
.main-banner-login-area {
  @apply px-[60px]
}
.syllabus-sec-2{
  @apply px-[100px]
}
.section-2 {
  @apply pt-[150px]
}
}
@media(max-width: 767px){
  .flex.enroll-input-area{
    @apply block
  }
  .enroll-form.login-form .enroll-input-area .login-input-area {
  @apply w-[100%]
}
  .power-content-area  .primary-hd {
    line-height: 60px;
}
  .power-content-area .primary-hd br{
    @apply hidden
  }
  .enroll-sec{
    @apply pt-[50px]
  }
  .enroll-sec .login-form h4{
    @apply text-[#175081]
  }
  .enroll-sec .inner-btn-area.skil-btn{
    @apply w-[50%]
  }
  .enroll-sec .col-span-12{
    @apply w-[90%]
  }
  .login-sec::before{
    @apply w-[40%]
  }
  .contact-btn{
    @apply mx-[auto] my-[10px]
  }

  .copyright-sec .grid{
    @apply block
   
  }
  .copyright-sec p{
    @apply text-[0.9rem]  text-center
  }
  .syllbus-hd-area{
    @apply px-[20px]
  }
  .syllabus-sec h1.primary-hd,  .testimonial h1.primary-hd{
    @apply text-[26px] mb-[10px]
  }
  .power-section{
    @apply pt-[0]
  }
  .power-content-area{
    @apply pt-[120px]
  }
  .light-hd, .hd-secondary.small-size {
    margin-bottom: 25px;
}
.potential-sec::after {
  top: 0;
}
.potential-sec {
  padding-top: 211px;
}
h4.primary-hd.banner-hd-classes {
  padding-top: 1rem;
}
.section-img-content .hd-secondary.small-size {
 @apply text-[1.6rem] 
}
.logo{
  @apply w-[unset]
}
  .sec-2-img {
    @apply block relative scale-[1.2] left-[-13px]
  }
  .book-img{
    @apply block relative scale-[1] right-[-33px] top-[32px]
  }
  .login-form .flex.justify-between{
    @apply block
  }
  .login-area .contact-btn{
    @apply w-[100%]
  }
  .syllabus-banner{
    @apply pt-[150px]
  }
  .syllabus-sec{
    @apply h-[743px]
  }
  .about-main-banner .banner{
    @apply pt-[100px]
  }
  .about-main-banner .primary-hd {
    @apply text-[63px]
}
  .main-clip{
    @apply scale-[0.4]
  }
  .about-content-area{
    @apply p-0
  }
  .about-sec-1 {
    @apply h-[405px] pt-[147px]
}
.about-content-area .primary-hd.space-bottom{
  @apply text-[24px]
}
.about-content-area p{
  @apply mt-[-3rem]
}
.about-content-area p, .para.black{
  @apply text-[17px]
}
.about-img-sec {
 @apply mt-[-87px]
}
.about-sec h1.primary-hd{
  @apply text-[26px] mb-[15px]
}
.primary-hd{
  @apply text-[1.7rem]
}

  .para br{
    @apply hidden
  }
  .contact-hd-area h4{
    @apply text-[2rem]
  }
  .sec-content-area .primary-hd{
    @apply text-[2.5rem]
  }
  .inner-btn-area.skil-btn.enrol-btn {
   @apply w-[44%]
}
.banner{
  @apply pt-[5rem]
}
.banner-hd-classes {
 @apply mt-[-2rem]
}
.section-img-content {
  @apply pt-[70px]
}
.section-img-content, .sec-content-area, .potential-sec, .power-section, .contact, .footer{
  @apply px-[30px]
}
.login1, .login2, .login3, .login4,
.contact-sec img.cube7,
  img.cube1,
img.cube3,
img.cube4,
img.cube6,
img.cube8,
img.cube9,
img.cube10,
img.cube11,
img.cube12,
img.cube13,
img.cube14,
img.cube15,
img.cube16,
img.cube17,
img.cube18,
img.cube19,
img.cube20,
img.cube7,
img.cube2,
img.cube21{
  @apply hidden
}
img.cube2, img.cube5{
  @apply w-[10%]
}
img.cube2{
  @apply bottom-[58%]
}
.contact-sec .flex.justify-center{
  @apply block
}
.syllabus-banner.contact-banner{
  @apply bg-center pt-[200px]
}
.syllabus-banner h2{
  @apply text-[55px]
}
img.cube7 {
  @apply
  top-[35%] w-[20%]
}
.main-clip{
  @apply left-[-63%] w-[225%] mt-[-39rem] mb-[30px]
}

  .nav-bar{
    @apply w-[100%]
  }
  .section-2 .grid{
    @apply block
  }
  .sec-content-area{
    @apply pt-[140px]
  }
  .contact-hd-area h3{
    @apply text-4xl
  }
  .accordion {
   @apply w-[100%]
}
.input-area{
  @apply block  mb-[0]
}
.input-area>div{
  @apply w-[100%]  mb-[20px]
}
.contact-form .inner-btn-area.skil-btn, .inner-btn-area.skil-btn.enrol-btn.power, .inner-btn-area {
  @apply w-[63%]
}
.inner-text-btn{
  @apply text-xl
}
.img-sec {
  @apply h-[19vh]
}
.hd-secondary{
  @apply text-3xl leading-[1.3]
}
.light-hd, .hd-secondary.small-size{
  @apply text-xl
}
.banner-btn-area{
  @apply block
}
.banner-btn-area>div{
  @apply w-[100%] mb-[10px]
}
.login-banner-btn{
  @apply p-[15px]
}
.banner-row{
  @apply w-[100%]
}
.contact img{
  @apply hidden
}
.contact::after{
  @apply left-[-8px] w-[102%]
}
.syllabus-sec-2{
  @apply px-[30px]
}
.cube-cover {
  @apply  right-[20%]
}
.power-section{
  @apply overflow-x-hidden
}
}
@media(max-width: 480px){
  .inner-btn-area.skil-btn.enrol-btn{
    @apply w-[67%] mb-[20px]
  }
  .section-img-content  .inner-btn-area.skil-btn {
    width: 40%;
}
.sec-content-area {
 @apply pt-[30px]
}
.sec-content-area .primary-hd {
 @apply text-[2.3rem] 
}
.main-clip {
  @apply left-[-50%] mt-[-44rem] scale-[0.3] 
}
}
@media(max-width: 414px){
  .about-sec-1 {
    @apply pt-[106px]
}
.about-content-area .primary-hd.space-bottom{
  @apply leading-[30px]
}
}
@media(max-width: 375px){

  .about-content-area .primary-hd.space-bottom{
    @apply leading-[26px]
  }
  .about-sec-1{
    @apply pt-[100px]
  }
  .sec-content-area{
    @apply pt-[100px]
  }
  .skil-sec{
    @apply pt-[6rem]
  }
  .skil-sec {
  @apply top-[29px]
}
  img.cube25 {
    top: -21px;
}
.cube-cover {
  right: 14%;
  top: 0;
}
  .book-img{
    @apply right-[-7px]
  }
  .potential-sec::after{
    @apply w-[103%]
  }
  .contact::after{
    @apply w-[104%] left-[-14px] h-[297px]
  }
  .sec-content-area .primary-hd {
    @apply text-[2rem]
}
  .contact-hd-area{
    @apply py-0
  }
  .contact img{
    @apply w-[275px]
  }
  br{
    @apply block
  }
  .section-img-content{
    @apply pt-[0]
  }
  .cube-cover{
    @apply hidden
  }
  h5.primary-hd.small-size{
    @apply m-0
  }
  .light-hd, .hd-secondary.small-size{
    @apply mb-[5px]
  }
  .primary-hd.banner-hd-classes{
    @apply text-[1.2rem]
  }
  .banner-section-content-area h1.primary-hd{
    @apply text-[26px]
  }
  .power-content-area .primary-hd br{
    @apply hidden
  }
  .section-img-content .inner-btn-area{
    @apply w-[60%]
  }
  .main-clip {
    @apply  left-[-98%] scale-[0.3]
    w-[290%]
}
.inner-btn-area.skil-btn.enrol-btn {
  @apply pt-[8px]
}
.section-img-content, .sec-content-area, .potential-sec, .power-section, .contact, .footer{
  @apply px-[10px]
}
.contact::after{
  @apply top-[-90px]
}
}