@tailwind base;
@tailwind components;
@tailwind utilities {

}

/* @font-face {
  font-family: 'ExtraBold';
  src: url("./font/QanelasSoftDEMO-ExtraBold.ttf");
}
@font-face {
  font-family: 'Qanelas-Bold';
  src: url("../css/fonts/Qanelas-Bold.ttf");
}
@font-face {
  font-family: 'Qanelas-SemiBold';
  src: url("../css/fonts/Qanelas-SemiBold.ttf");
}
@font-face {
  font-family: 'Qanelas-ExtraBold';
  src: url("../css/fonts/Qanelas-ExtraBold.ttf");
}
@font-face {
  font-family: 'Qanelas-Regular';
  src: url("../css/fonts/Qanelas-Regular.ttf");
} */
body{
  @apply overflow-x-hidden
}
/* header */
  .header{
    @apply bg-white  shadow-lg shadow-[#70707040] py-3 relative z-[9999]
  }
.item{
  @apply text-lg uppercase transition ease-in-out delay-150
}

.item:hover{
  @apply text-[#EDA825] transition ease-in-out delay-150
}
.dropdown-btn{
  @apply bg-[#174E81] py-3 px-5 rounded-lg text-white
}
.dropdown-btn i {
  @apply mx-2
}
.drop-down-menu{
  @apply absolute hidden w-56 bg-white  shadow-lg top-24  rounded-lg shadow-[#70707040] py-4 px-10 transition ease-in-out delay-150
}
.drop-down-menu.active{
  @apply block transition ease-in-out delay-150
}
.drop-down-menu li{
  @apply text-sm mb-3 transition ease-in-out delay-150
}
.drop-down-menu li:hover{
  @apply text-[#EDA825] transition ease-in-out delay-150
}
/* keyframe */
.cube2, .cube5, .cube15, .cube16 ,.cube19{
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
}
.cube6, .cube4, .cube14, .cube12 , .cube8, .cube9{
  -webkit-animation: rotate 5s normal linear infinite;
  animation: cube2  5s normal linear infinite;
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes cube2  {
  0% {
    -webkit-transform: scale(0, 0, 1, 0deg);
    transform: scale(0, 0, 1, 0deg);
  }
  100% {
    -webkit-transform: scale(0, 0, 1, 90deg);
    transform: scale(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: scale(0, 0, 1, 180deg);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0, 0, 1, 270deg);
    transform: scale(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: scale(0, 0, 1, 360deg);
    transform: scale(0, 0, 1, 360deg);
  }
}
.img1-area .img1, .subtraction {
  filter: drop-shadow(0 4px 8px rgba(202, 23, 23, 0.2));
  animation: shadow-animation 4s ease-in-out infinite;
}
@keyframes changeFillColor {
  0%, 100% {
    fill: #daebfe; 
  }
  25% {
    fill: #eda825; 
  }
  50% {
    fill: #1564fb; 
  }
  75% {
    fill: #175081; 
  }
}

.fill-color path {
  animation: changeFillColor 16s linear infinite; /* Adjust duration as needed */
}
@keyframes shadow-animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.primary-hd{
  animation: slide-in-anim 1.5s ease-out forwards;
}
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateY(-45%);
	}
	75% {
		transform: translateY(52%);
	}
	100% {
		opacity: 1;
		transform: translateY(-50%);
	}
}
.clip-path-2 h3,
 .clip-path-4 h3, 
 .clip-path-3 h3,
 .clip-path-1 h3 {
  @apply absolute top-[50%] left-[50%] text-[50px] font-semibold text-white z-[9999] rotate-[-16deg] translate-y-[-50%] translate-x-[-50%]
}
.clip-path-3 h3{
  @apply rotate-[16deg]
}
.clip-path-4 h3{
  @apply rotate-[-11deg] left-[54%]
}
.clip-path-1 h3{
  @apply rotate-[-12deg] left-[55%] text-[#174F81]
}
/* partical */
img.cube1 {
  @apply  absolute  left-[52px] bottom-[65px]
}
img.cube2 {
  @apply  absolute  left-[22%] bottom-[38%]
}
img.cube3 {
  @apply  absolute  right-[2%] top-[-13%] z-[-999]
}
img.cube4 {
  @apply  absolute  right-[12%] top-[33%] z-[-999]
}
img.cube5 {
  @apply  absolute  left-[7%] top-[5%] z-[-999]
}
img.cube6 {
  @apply  absolute  right-[2%] bottom-[-3%] z-[-999]
}
img.cube7 {
  @apply  absolute  right-[16%] bottom-[10%] z-[-999]
}
img.cube8 {
  @apply  absolute  right-[2%] bottom-[18%] z-[-999]
}
img.cube9 {
  @apply  absolute  right-[9%] bottom-[2%] z-[-999]
}
img.cube10 {
  @apply  absolute  right-[21%] bottom-[15%] z-[-999]
}
img.cube11 {
  @apply  absolute  left-[40%] bottom-[20%] z-[-999]
}
img.subtraction {
  @apply  absolute  left-[0%] top-[20%] z-[-999]
}
img.cube12 {
  @apply  absolute  right-[20%] top-[45%] z-[-999]
}
img.cube13 {
  @apply  absolute  right-[3%] top-[-3%] z-[-999]
}
img.cube14 {
  @apply  absolute  right-[7%] bottom-[5%] z-[-999]
}
img.cube15 {
  @apply  absolute  left-[1%] bottom-[27%] z-[-999]
}
img.cube16 {
  @apply  absolute  left-[50%] bottom-[27%] z-[-999]
}
img.cube17 {
  @apply  absolute  left-[1%] bottom-[12%]
}
img.cube18 {
  @apply  absolute  right-[38%] bottom-[28%] z-[999999]
}
img.cube19 {
  @apply  absolute  left-[43%] top-[20%] z-[999999]
}
img.cube20 {
  @apply  absolute  right-[7%] bottom-[-17%] z-[999999]
}
img.cube21 {
  @apply  absolute  right-[-3%]
  top-[22%] z-[999999]
}

/* banner */
.banner{
  @apply pt-24 flex justify-center items-center relative
}
.primary-hd{
  @apply text-7xl font-semibold text-[#174F81]
}
.yello-text{
  @apply text-[#EDA825]
}
.space-bottom{
  @apply mb-3
}

.light-hd, .hd-secondary.small-size{
  @apply text-5xl leading-[60px]
}
.small-size{
  @apply text-4xl
}
.main-banner-login-area{
  @apply px-[140px] py-[30px]
}
.login-banner-btn {
  @apply bg-[#3066FB] px-[40px] py-[30px] rounded-lg mb-4
}
.login-banner-btn span{
  @apply text-white text-xl
}
.arrow-icon-area{
  @apply w-[40px] h-[40px] bg-[#EDA825] flex items-center justify-center rounded-full
}
.arrow-icon-area i{
  @apply text-lg text-white
}
.inner-btn-area{
  @apply  flex py-[20px] px-[20px] justify-between items-center w-[48%] bg-white  shadow-lg   rounded-lg shadow-[#70707040]  cursor-pointer
}
.img-sec{
  @apply relative h-[100vh]
}
.sec-img-area{
  @apply relative top-[-280px] z-[99] left-0
}
img.sec-img{
  @apply w-[100%]
}

/* skil sec */
.skil-sec{
  @apply  pt-[30rem] pb-[27rem]    z-[9] left-0 relative  top-[-87px]
}
.hd-secondary{
  @apply text-7xl font-semibold text-white
}
.para{
  @apply text-xl font-semibold	 text-white mt-5
}
.inner-btn-area.skil-btn{
  @apply  justify-center mt-5 cursor-pointer
}
.inner-btn-area.skil-btn>div{
  @apply ml-3
}
.inner-text-btn{
  @apply text-2xl text-[#175081]
}
.skil-sec{
  @apply bg-cover  bg-center w-[100%] bg-no-repeat
}
.section-2::after {
 @apply content-['']  absolute top-[-31%] left-[-21px] h-[180px] w-[84%] rotate-[-7deg] bg-[#174F81] z-[-9999999999999]
}
.skil-sec {
  background-image: url('./images/bg1.png');
}
.img1-area{
  @apply scale-[1.2] relative top-[-139px] right-[-68px]
}

.clip-path-1{
  @apply absolute top-[6px]
  left-[21%]
}
.main-clip{
  @apply  mt-[-33rem] absolute z-[9999] right-[6%] w-[70%] block h-[970px];
}
.clip-path-2 {
  @apply absolute top-[50%]
  left-[0%]
  translate-y-[-50%]
}
.clip-path-3 {
  @apply  absolute top-[58%] right-[0]  translate-y-[-50%]
}
.clip-path-4 {
  @apply  absolute top-[unset] right-[unset] bottom-[0px] left-[0] translate-x-[60%]
}
.sec-content-area{
  @apply py-[239px] 
}
.sec-content-area p{
  @apply text-lg font-normal
}
.inner-btn-area.skil-btn.enrol-btn{
  @apply bg-[#1564FB] py-[15px]
}
.inner-btn-area.skil-btn.enrol-btn .inner-text-btn{
  @apply text-white
}
.potential-sec{
  @apply bg-[#F1F2F2] pt-[358px] pb-[34px] relative
}
.potential-sec::after {
  @apply content-['']  absolute top-[-100px] left-[0] h-[348px] w-[100%] 
 }
.potential-sec::after {
  background-image: url(./images/bg2.png);
}
.black{
  @apply text-black
}
.book-img{
  @apply absolute bottom-[0] right-[0] z-[9999]
}
.power-section{
  @apply pt-[100px] pb-[180px]
}
.ai-power-img{
  @apply absolute top-[0] left-[-13%] z-[-9999]
}
.inner-btn-area.skil-btn.enrol-btn.power{
  @apply w-[40%]
}
.power-content-area{
  @apply pt-[54px] pl-[100px]
}
.contact{
  @apply bg-[#174E81] py-[190px] relative overflow-y-hidden
}
.contact-hd-area h3{
  @apply text-6xl text-white font-semibold mb-5
}
.contact-hd-area{
  @apply pt-[100px] pb-[18px]
}
.contact-hd-area h4{
  @apply text-5xl text-white font-normal mb-5
}
.contact-hd-area p{
  @apply text-2xl text-white font-normal mb-5
}
.contact::after {
  @apply content-['']  absolute top-[-100px] left-[-10px] h-[348px] w-[101%]  bg-no-repeat bg-cover 
 }
.contact:after {
    background-image: url(./images/bg3.png);
}
.contact::before {
  @apply content-['']  absolute top-[-100px] left-[-165px] h-[1700px] w-[60%]  bg-[#1CC6F3] z-[] rounded-[100%]
 }

.footer{
  @apply bg-[#EDA825] pb-[100px] relative
}
.footer::after{
  @apply content-[''] absolute left-[-1px] top-[-265px] bg-no-repeat bg-cover h-[308px] w-[100%]
}
.footer::after {
  background-image: url(./images/bg4.png);
}
.footer-phone-area a{
  @apply text-xl text-white font-normal
}
.footer-phone-area{
  @apply mb-5
}
.footer-phone-area a i{
  @apply mr-3
}
.social-list {
  @apply flex items-center
}
.social-list li {
  @apply mr-3 w-[45px] h-[45px] bg-[#174E81] rounded-full flex items-center justify-center
}
.social-list li a{
  @apply text-white text-xl
}
.footer-phone-area p{
  @apply text-xl font-semibold text-white
}
.footer-address-area {
 @apply flex mb-4
}
.footer-address-area i{
  @apply mr-2 text-white text-2xl
}
.footer-address-area p{
  @apply text-xl  text-white
}
.footer-address-area p strong{
  @apply block
}
.copyright-sec{
  @apply bg-white py-[10px] text-center
}
.copyright-sec p{
  @apply text-lg text-black m-0
}
.form-area{
  @apply pl-[80px]
}
.accordion-content{
  @apply h-[0] bg-white overflow-hidden transition ease-in-out rounded-lg
}
.accordion-content p{
  @apply text-lg font-normal text-black m-0
}
.accordion {
  @apply bg-white rounded-lg w-[60%]
}
.accordion-content.active{
  @apply bg-white  h-[200px] overflow-y-auto p-4
}
  .footer-phone-area iframe{
    @apply w-[100%]
  }
  .input-area{
    @apply flex items-center  mb-[30px]
  }
  .input-area>div{
    @apply w-[48%] flex  bg-white mr-4 items-center 
  }
  .contact-form{
    @apply pl-[85px] pb-[60px]
  }
  .icon-contact-area{
    @apply bg-[#EDA825] w-[80px] h-[80px] flex items-center justify-center mr-2
  }
  .icon-contact-area i{
    @apply text-xl text-white
  }
  .contact-input input, .contact-input textarea{
    @apply w-[100%] outline-none	
  }
  .input-area.message>div {
    @apply w-[100%]
  }
  .input-area.message textarea{
    @apply h-[190px] pt-[15px]
  }
  .input-area.message .icon-contact-area{
    @apply h-[200px] w-[96px] items-start pt-[15px]
  }
  .contact-hd-area.form-area{
    @apply pb-[60px]
  }
  .input-area.message .contact-input {
    @apply w-[100%]
}
.open-menu, .close-menu{
  @apply hidden 
}
@media(max-width: 1600px){
.footer-address-area p{
  @apply text-[1rem]
}
  .accordion {
  @apply  w-[70%]
}
  .sec-img-area{
  @apply top-[-230px]
}
.img1-area {
  @apply top-[-73px] right-[-41px] scale-[1]
}
.skil-sec {
  @apply pt-[27rem]
}
.hd-secondary{
  @apply text-5xl
}

.sec-content-area {
    @apply pt-[45px]
    pb-[0]
    relative
    z-[99999]
}
.main-banner-login-area{
  @apply px-[20px] 
}
.book-img {
   @apply  scale-[0.9]
    right-[-121px] top-[-9px]
}
.ai-power-img{
     @apply  scale-[0.7]
}
.potential-sec{
  @apply pt-[302px] overflow-hidden
}
.primary-hd{
  @apply text-5xl leading-[1.2]
}
img.cube1, 
img.cube2,
img.cube3,
img.cube4,
img.cube5,
img.cube6,
img.cube7,
img.cube8,
img.cube9,
img.cube10,
img.cube11,
img.cube12,
img.cube13,
img.cube14,
img.cube15,
img.cube16,
img.cube17,
img.cube18, 
img.cube19,
img.cube20,
img.cube21{
  @apply w-[7%] z-[999]
}
img.cube3{
  @apply top-[-6%]
}
.ai-power-img{
  @apply top-[-92px]
}
.inner-btn-area.skil-btn.enrol-btn.power {
   @apply  w-[46%]
}
.power-section{
   @apply pb-[24px]
}
.footer{
  @apply py-[40px]
}
img.cube21{
  @apply right-[0]
}
.footer::after{
  @apply h-[229px] top-[-194px]
}
.light-hd{
  @apply text-4xl
}
.section-2{
  @apply pb-[100px] pt-[200px]
}

.main-clip{
  @apply mt-[-45rem]  scale-[0.9]
}
.section-2::after{
  @apply h-[106px] w-[90%] top-[-32%]
}
.skil-sec{
  @apply overflow-hidden
}
}
@media(max-width: 1440px){
  .light-hd.small-size{
    @apply text-2xl
  }
  .skil-sec {
    @apply pt-[11rem] pb-[22rem]
}

.img1-area{
  @apply scale-[1.2]
}
.sec-img-area{
  @apply top-[-221px]
}
.book-img{
  @apply top-[30px]
}
.ai-power-img {
  @apply top-[-64px] left-[-17%]
}
.main-clip{
  @apply   scale-[0.7] w-[84%] right-[-6%]
}

img.cube16{
  @apply bottom-[13%]
}
img.cube15{
  @apply bottom-[11%]
}
.section-img-content{
  @apply pt-[60px]
}
.hd-secondary{
  @apply text-[2.7rem]
}
.img1-area{
  @apply right-[-14px]
}
.light-hd, .hd-secondary.small-size{
  @apply text-[2rem]
}
}
@media(max-width: 1366px){
  .img-sec{
    @apply h-[88vh]
  }
  .main-clip{
   @apply right-[-2%] mt-[-47rem]
  }
  .section-2::after {
    @apply top-[-28%]
    w-[74%]
}
}
@media(max-width: 1280px){
  .section-2::after{
    height: 52px;
  }
  .accordion{
    @apply w-[100%]
  }
  .contact-hd-area h3{
    @apply text-[3rem]
  }
  .section-2::after{
    @apply top-[-25%]
  }
}
@media(max-width: 1024px){
 
  .banner-row{
    @apply block w-[70%] m-auto
  }
 .contact-row{
  @apply block
 }
 .img-sec{
  @apply h-[70vh]
 }
  .open-menu, .close-menu{
    @apply block absolute right-[16px] top-[32%] text-2xl
  }

  .close-menu{
    @apply top-[2%]
  }
  .nav-bar{
    @apply  shadow-lg  transition ease-in-out  shadow-[#70707040] fixed h-[100%] bg-white z-[99999] top-[0] left-[-100%] w-[60%]
  }
  .nav-bar.active{
    @apply  left-[0%] transition ease-in-out
  }
  .list {
    @apply block py-8 px-8
  }
  .list li{
    @apply mb-4
  }
  .skil-sec{
    @apply pt-[10rem] pb-[18rem]
  }
  img.cube13{
    @apply top-[-33%]
  }
  .hd-secondary{
    @apply text-5xl
  }
  .light-hd, .hd-secondary.small-size{
    @apply text-3xl
  }
  .sec-img-area {
   @apply top-[-156px];
}
.inner-btn-area.skil-btn.enrol-btn{
 @apply w-[65%]
}
.potential-sec::after {
   @apply top-[-105px] left-[-10px]
}
.potential-sec {
  @apply  pt-[291px]
}
.book-img{
  @apply  bottom-[-60%] scale-[0.6] right-[-162px]

}
.ai-power-img{
  @apply scale-[0.6]
  left-[-18%]
}
.inner-btn-area.skil-btn.enrol-btn.power {
    @apply w-[55%];
}
.contact::before {
  width: 100%;
  height: 1247px;
}
.contact-form{
  @apply pl-[10px]
}
.form-area {
  @apply pl-[0]
}
.contact-form .inner-btn-area.skil-btn{
  @apply w-[22%]
}
.primary-hd{
  @apply text-2xl 
}
.power-content-area .primary-hd br{
  @apply hidden
}
.main-clip{
  @apply  scale-[0.6]   left-[11%] w-[100%] mt-[-40rem] 
}

.section-2::after{
  @apply h-[60px] w-[78%] top-[-58%]
}
.section-2{
  @apply pt-[0]
}
.clip-path-3{
  @apply right-[-43px]
}
}
@media(max-width: 768px){
  .inner-btn-area.skil-btn.enrol-btn {
    @apply   w-[71%]
}

  .book-img, .img1-area {
    @apply hidden
  }
  .img-sec{
    @apply h-[51vh]
  }
  .section-2::after, .sec-2-img{
    @apply hidden
  }
  .skil-sec .grid, .potential-sec .grid, .power-section .grid, .footer .grid{
    @apply block
  }
  .power-content-area, .section-2, .footer{
    @apply py-[0] px-[0]
  }
  .footer .grid .col-span-4{
    @apply py-[20px]
  }
  .contact-form .inner-btn-area.skil-btn, .inner-btn-area.skil-btn.enrol-btn.power{
    @apply w-[31%]
  }
  .footer{
    @apply pb-[30px]
  }

.main-clip {
  @apply left-[-3%] mt-[-40rem] w-[136%] scale-[0.4]
}
}
@media(max-width: 767px){
  .inner-btn-area.skil-btn.enrol-btn {
   @apply w-[44%]
}
  img.cube1, 
img.cube2,
img.cube3,
img.cube4,
img.cube5,
img.cube6,
img.cube7,
img.cube8,
img.cube9,
img.cube10,
img.cube11,
img.cube12,
img.cube13,
img.cube14,
img.cube15,
img.cube16,
img.cube17,
img.cube18, 
img.cube19,
img.cube20,
img.cube21{
  @apply hidden
}
.main-clip{
  @apply left-[-59%] w-[221%]
}
  .nav-bar{
    @apply w-[100%]
  }
  .section-2 .grid{
    @apply block
  }
  .contact-hd-area h3{
    @apply text-4xl
  }
  .accordion {
   @apply w-[100%]
}
.input-area{
  @apply block  mb-[0]
}
.input-area>div{
  @apply w-[100%]  mb-[20px]
}
.contact-form .inner-btn-area.skil-btn, .inner-btn-area.skil-btn.enrol-btn.power, .inner-btn-area {
  @apply w-[63%]
}
.inner-text-btn{
  @apply text-xl
}
.img-sec {
  @apply h-[19vh]
}
.hd-secondary{
  @apply text-3xl leading-[1.3]
}
.light-hd, .hd-secondary.small-size{
  @apply text-xl
}
.banner-btn-area{
  @apply block
}
.banner-btn-area>div{
  @apply w-[100%] mb-[10px]
}
.login-banner-btn{
  @apply p-[15px]
}
.banner-row{
  @apply w-[100%]
}
}

@media(max-width: 375px){
  .main-clip {
    @apply  left-[-98%] scale-[0.3]
    w-[289%]
}
}